body{
    background-color: cadetblue;
}
header h1{
    color: beige;
    background-color: #365c5e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
}

header p{
    display: block;
}
header ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: beige;
    background-color: #365c5e;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
}
header li{
    float: left;
}
header a{    
    text-decoration: none;
    display: block;
    padding: 16px;
    color: beige;
    background-color: #365c5e;
}
header a:hover{
    color: beige;
    background-color:cadetblue;    
}
article img{
    width: 300px;
}
footer{
   color: beige;
   background-color: #365C5E;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;  
   height: 50px; 
}
section{
    background-color: cadetblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}